.logo_image{
    width: 50px;
    height: 50px;
}

h1{
    font-family:  "Montserrat";
}

.navbar{
    background-color: #dcd4d1;
}

.description{
    width: 40%;
    margin-left: 30.5%;
   
}

.image_setting{
    height: 400px !important;
    width: 1025px !important;
    margin-left: 10%;
}

.btn_small{
    height: 30%;
    width: 10%;
    margin-top: 10%;
}
.productspecification{
    width: 55rem;
    margin-left: 15%;
    margin-top: 5%;
}
.productdescription{
    font-size: 25px;
    font-weight: 600;
    margin-left: 11%;
}

.product{
    margin-top: 5%;
}
.about{
margin-top: 5%;
}
.pdt{
    width: 30%;
    height: 85%;
    margin-left: 40%;
    margin-top: 5%;
    
}
.faq{
    
    background:  #dcd4d1;;
}
.quest{
    margin-left: 30%;
    padding: 2%;
}